.element__button-trash{
    background-image: url(../../../images/Group.svg);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    align-self: center;
    padding: 0px;
    border: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    opacity: 1;
    transition: 1s;
}
.element__button-trash:hover{
    opacity: 0.6;
    transition: 1s;
}