.popup__container{
    max-width: 430px;
    padding: 36px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    align-self: center;

 }
 @media screen and (max-width: 680px) {
    .popup__container{
      max-width: 282px;
      padding: 25px 22px;
      margin-top: 123px;
    }
  }