.popup__container-pic{
    max-width: 815px;
    height: 540px;
    z-index: 1;
    position: relative;
    align-self: center;
    
    
}
@media screen and (max-width: 900px) {
    .popup__container-pic{
        max-width: 600px;
        height: 540px;
    }
      
}
@media screen and (max-width: 680px) {
    .popup__container-pic{
        max-width: 433px;
        height: 540px;
    }
      
}

@media screen and (max-width: 400px) {
    .popup__container-pic{
        max-width: 240px;
        height: 299px;
    }
      
}