.popup__submit{
    padding: 0px;
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    }
    .popup__submit:hover{
      opacity: 0.8;
    }
    @media screen and (max-width: 680px) {
        .popup__submit{
          margin-top: 45px;
        }
      }